font-face {
    font-family: neu;
    src: url(./NeueHaasDisplayMediu.ttf);
}

@font-face {
    font-family: neu;
    font-weight: 100;
    src: url(./NeueHaasDisplayLight.ttf);
}

@font-face {
    font-family: neu;
    font-weight: 200;
    src: url(./NeueHaasDisplayRoman.ttf);
}
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;1,500&family=Open+Sans:wght@500&display=swap');
*{
font-family: 'Noto Sans', sans-serif;
font-family: 'Open Sans', sans-serif;
margin: 0;
padding: 0;
}
body{
background-color: #0F0D0D;
}
nav{
height: 20vh;
width: 100%;
display: flex;
align-items: center;
justify-content: space-between;

}
nav a{
text-decoration: none;
color: #fff;
transition: all .55s ease;
}

nav img{
width: 5vh;
height: 20vh;
object-fit: cover;
}
.page1{ 
height: 70vh;
width: 100%;
}
.page1 video{
width: 40vh;
height: auto;
margin-top: 3vh;
box-shadow: black;
z-index: 99;
position: relative;
left: 50%;
transform: translate(-50%,0);
}
.page1 h2{
text-transform: uppercase;
display: flex;
align-items: center;
justify-content: center;
position: relative;
z-index: 99;
color: white; 
font-weight: 150;
font-size: 6vh;
}
.page1 h3{
text-transform: uppercase;
display: flex;
align-items: center;
justify-content: center;
position: relative;
z-index: 99;
color: white; 
font-weight: 150;
font-size: 6vh;
padding: 2vh 0;
}
.page1-content h1{
font-family: 'Noto Sans', sans-serif;
font-family: 'Open Sans', sans-serif;
text-transform: uppercase;
display: flex;
align-items: center;
justify-content: center;
position: relative;
z-index: 99;
color: white;
font-weight: 100;
margin-top: -23vh;
}

.page2{
height: 100vh;
width: 100%;
background-color: blue;
}
.circle{
height: 40vh;
width: 40vh;
background-color: red;
border-radius: 50%;
filter: blur(20px);
animation:movement 8s linear infinite alternate;
}

@keyframes movement {
 
from{
transform: translate(10%,0);
}
to{
transform: translate(-5%,5%);
}